extends layout

block content
    .w3-card-4 
        header.w3-container.w3-black 
            h1= title
        .w3-container
            table.w3-table-all
                tr 
                    th.w3-large Filmes
                each f in filmes 
                    tr 
                       td
                            a( href=`/movie/${ f.title }` )  #{ f.title }
                            .w3-right
                                a( href=`/movie/edit/${ f.id }` )
                                    button( type='button' ).w3-button.w3-black.w3-btn.w3-round-xxlarge(style='margin-right: 10px') Editar
                                a( href=`/movie/delete/${ f.id }` )
                                    button( type='button' ).w3-button.w3-red.w3-btn.w3-round-xxlarge Eliminar
